repos:
    - repo: local
      hooks:
          - id: ruff
            name: ruff
            description: "Run 'ruff' for extremely fast Python linting"
            entry: uv run ruff check
            language: system
            types_or: [python, pyi, jupyter]
          - id: ruff-format
            name: ruff-format
            description: "Run 'ruff format' for extremely fast Python formatting"
            entry: uv run ruff format
            language: system
            types_or: [python, pyi, jupyter]
